body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #ffb6c1, #ffc0cb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.main-img{
    width: 250px;
    border-radius: 20px;
    margin-bottom: 20px;
}

h1 {
    color: #ff4d6d;
    margin-bottom: 20px;
}

button {
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#yesBtn {
    background-color: #ff4d6d;
    color: white;
}

#noBtn {
    background-color: #ccc;
}